.bar {
    margin-top: 8px;
    color: lightgrey;
}

.navbar {
    /* text-transform: uppercase; */
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    letter-spacing: 3px;
    margin-bottom: 4%;
    background-color: black;
    height: 40px;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: lightgray;
}

@media (min-width: 768px){
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: none;
        width: 100%;
    }

    .navbar-nav>li {
        display: table-cell;
        float: none;
        text-align: center;
        color: white;
    }
}

#world-map {
    width: 100%; 
    height: 100%;
    /* margin-top: 3%; */
    padding-top: 30px;
    padding-right: 170px;
    
}

#city-background {
    background-image: url("../images/cities-background.png");
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-repeat: repeat; */
    height: 515px;
    width: 100%;
    margin-left: 4%;
}
/* 
.jqvmap-label{
    position: absolute;
    display: none;
    border-radius: 5px;
    background: #fff;
    color: #8E8E8E;
    padding: 3px;
    font-size:.95em;
    padding:5px 9px;
    font-weight:bold;
    box-shadow:0px 3px 7px 2px rgba(0,0,0,.3); 
  } */

  .contact-form {
      width: 75%;
      margin-left: 12%;
      margin-top: 5%;
      background-color: black;
      color: white;
      border-radius: 25px;
      font-family: 'Playfair Display SC', serif;
      padding: 20px 0px;
  }

  form {
      padding: 20px 25px;
      width: 80%;
      margin-left: 12%;
  }

  .form-title {
      text-align: center;
      padding-top: 35px;
  }

  .logo {
      width: 40%;
      margin-left: 28%;
  }

  .concept {
      width: 54%;
      margin-left: 21%;
      text-align: center;
      font-family: 'Dosis', sans-serif;
      font-size: 20px;
  }
  
  .directions {
      margin-left: 25%;
      font-family: 'Fjalla One', sans-serif;
      margin-top: 3%;
  }

  footer {
      background-color: grey;
      color: white;
      /* min-height: 75px; */
      margin-top: 10%;
      width: 100%;
      padding: 15px;
  }

 .footer-text {
      text-align: center;
      /* position: relative;
      top: 20px; */
      font-family: 'Dosis', sans-serif;
      font-size: 18px;
      padding-left:5%;
  }

  .container {
      margin: 0 auto;
  }

  .services {
      border: 2px solid black;
      width: 300px;
      height: 300px;
      padding-top: 125px;
      display: inline-block;
      margin-left: 17%;
      text-align: center;
  }

  .form-directions {
      width: 75%;
      margin-left: 15%;
      margin-top: 2%;
  }

  .copyright {
      padding-top: 35px;
  }

.contact-info {
    padding-top: 15px;
}

/* .inline {
    display: inline;
} */

